<% form_for( :post, :url => login_path ) do |f| %>
  <p>
    <b>Username</b>&nbsp;&nbsp;
    <%= f.text_field :username, :size => 18 %>
  </p><br/>
  <p>
    <b>Password</b>&nbsp;&nbsp;
    <%= f.password_field :password, :size => 18 %>
  </p><br/><br/>
  <p>
    <%= submit_tag "Login" %>
  </p>
<% end %>