@import url('master.css');

#page-content {
  background-color:#fff;
  color:#666;
  padding-top:95px;
  }
#page-content br {
  display:block;
  margin:5px auto 5px auto;
  }
#page-content div.post h5 {
  font-weight:bold !important; 
  }
#page-content h1 {
  background-color:inherit;
  color:#444;
  font-size:4.2em !important;
  text-transform:uppercase;
  }
#page-content h5 {
  font-weight:normal !important;
  text-transform:uppercase;
  }
#page-content h6 {
  font-size:1em;
  font-weight:normal;
  line-height:18px;
  }
#page-content p {
  font-size:1em !important;
  line-height:16px;
  margin:10px 0 10px 0;
  width:400px;
  }
#page-content p.strong {
  background-color:inherit;
  color:#444;
  font-size:1.65em;
  font-weight:bold;
  margin-top:0;
  text-transform:uppercase;
  }

#links-area {
  float:left;
  height:500px;
  margin-top:130px;
  padding:16px;
  width:125px;
  }
#links-area li {
  font-size:1.12em !important;
  font-weight:bold !important;
  text-transform:uppercase;
  }
#links-area li a{
  background-color:inherit;
  color:#444;
  }
#links-area li a:hover {
  background-color:inherit;
  color:#ccc;
  }

#content-area {
  float:left;
  width:460px;
  }