@import url('master.css');

input, textarea {
  border:1px solid #ccc;
  clear:both;
  padding:0 4px 2px 4px;
  }
textarea {
  overflow:auto;
  width:400px
  }

div.comment {
  border-top:1px solid #ccc;
  padding:10px 0 10px 0;
  width:400px;
  }

#page-content {
  background-color:#fff;
  color:#666;
  padding-top:95px;
  }
#page-content br {
  display:block;
  margin:5px auto 5px auto;
  }
#page-content div.post {
  border-top:1px solid #ccc;
  padding:20px 0 5px 0;
  width:410px;
  }
#page-content div.post h5 {
  font-weight:bold !important; 
  }
#page-content div.comment p {
  margin:0 0 10px 0;
  }
#page-content h1 {
  background-color:inherit;
  color:#444;
  font-size:4.2em !important;
  text-transform:uppercase;
  }
#page-content h5 {
  font-weight:normal !important;
  text-transform:uppercase;
  }
#page-content h6 {
  font-size:1em;
  font-weight:normal;
  line-height:18px;
  }
#page-content p {
  font-size:1em !important;
  line-height:16px;
  margin:10px 0 10px 0;
  width:400px;
  }
#page-content p.strong {
  background-color:inherit;
  color:#444;
  font-size:1.65em;
  font-weight:bold;
  margin-top:0;
  text-transform:uppercase;
  }

#new-comment div {
  line-height:16px;
  margin:10px 0 10px 0;
  }
#new-comment label {
  display:block;
  float:left;
  padding-top:2px;
  width:50px;
  }

#links-area {
  background-color:inherit;
  color:#444;
  float:left;
  height:500px;
  margin-top:120px;
  padding:16px;
  width:125px;
  }
#links-area li {
  cursor:default;
  font-size:1.16em !important;
  font-weight:bold !important;
  margin:1em 0 0 0;
  text-transform:uppercase;
  }
#links-area li.post {
  clear:both;
  display:block;
  font-size:.85em !important;
  font-weight:normal !important;
  margin:2px 0 3px 20px !important;
  }
#links-area li.post a {
  float:left;
  display:block;
  margin-bottom:3px;
  width:80px;
  }
#links-area li.post strong {
  float:left;
  display:block;
  margin-right:2px;
  }
#links-area li a{
  background-color:inherit;
  color:#444;
  }
#links-area li a:hover {
  background-color:inherit;
  color:#ccc;
  }

#content-area {
  float:left;
  width:460px;
  }