@import url('master.css');

#page-content {
  background-color:#fff;
  color:#666;
  height:500px;
  padding-top:95px;
  padding-left:157px;
  width:463px;
  }
#page-content br {
  display:block;
  margin:5px auto 5px auto;
  }
#page-content h1 {
  background-color:inherit;
  color:#444;
  font-size:4.2em !important;
  text-transform:uppercase;
  }
#page-content h5 {
  font-weight:normal;
  text-transform:uppercase;
  }
#page-content h6 {
  font-size:1em;
  font-weight:normal;
  line-height:18px;
  }
#page-content p {
  font-size:1em !important;
  line-height:16px;
  margin:10px 0 10px 0;
  width:400px;
  }
#page-content p.strong {
  background-color:inherit;
  color:#444;
  font-size:1.65em;
  font-weight:bold;
  margin-top:0;
  text-transform:uppercase;
  }