@import url('home.css');

#page-content a {
  background-color:inherit;
  color:#666;
  display:block;
  font-size:.75em;
  margin-top:7px;
  }

#page-content p {
  background-color:inherit;
  color:#666;
  font-size:1.7em;
  position:absolute;
    bottom:0px;
    left:0px;
  }