a,a:visited {
  background-color:inherit;
  color:#444;
  margin:0;
  padding:0;
  text-decoration:none;
  }

body,h1,h2,h3,h4,h5,h6,hr,img,p {
  margin:0;
  padding:0;
  }

body {
  background:#fff;
  color:#444;  
  cursor:default;
  font:normal 8pt/normal Helvetica, Arial, sans-serif !important;
  height:100%;
  text-align:center;
  width:100%;
  }

h1 {
  font-size:2.8em !important;
  }

h2 {
  font-size:1.64em !important;
  }

h3 {
  font-size:1.48em !important;
  }

h4 {
  font-size:1.32em !important;
  }
  
h5 {
  font-size:1.16em !important;
  }  

h6 {
  font-size:.85em !important;
  }

hr {
  clear:both;  
  height:1px;  
  visibility:hidden;
  }
  
img {
  border:none;
  }

li {
  cursor:pointer;
  }

ul {
  margin:0;
  padding:0;
  list-style:none;
  }

#page-wrap {
  background:url('../images/background.jpg') 20px 95px no-repeat;
  margin:auto;
  padding:0 20px 0 20px;
  position:relative;
  text-align:left;
  width:810px;
  }
  
#page-navigation {
  float:left;
  padding-top:462px;
  text-transform:uppercase;
  width:185px;
  }
#page-navigation h6 {
  margin-top:45px;
  }
#page-navigation h1 a{
  background-color:inherit;
  color:#444;
  }
#page-navigation h1 a:hover {
  background-color:inherit;
  color:#ccc;
  }
#page-navigation li {
  background-color:inherit;
  color:#444;
  padding-top:5px;
  }
#page-navigation li a{
  background-color:inherit;
  color:#ccc;
  }
#page-navigation li a:hover {
  background-color:inherit;
  color:#444;
  }
#page-navigation ul {
  color:#ccc;
  font-size:1.65em;
  font-weight:bold;
  }

#page-content{
  background-color:inherit;
  color:#333;
  float:left;
  width:620px;
  }