<p>
    <a href="mailto:info@arthuradesign.com">info@arthuradesign.com</a><br/>
    816.500.0130
</p>
<ul>
    <li>Visual Communication</li>
    <li>Photography</li>
    <li>Environmental Design</li>
</ul>