                <%= link_to image_tag(portfolio_url(@image)), work_url(@next) %>
                <br/><br/>
                <ul>
                <% for image in @portfolio %>
                      <li>
                          <%= link_to_unless_current image.position, work_url(image.id) %>
                      </li>
                <% end %>
                </ul><br/>
                <h6><%= @image.title.upcase %></h6>
                <%= textilize(@image.metadata) %>