/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require_tree . 
 *= require lionbars
*/

a, a:visited {
  background-color:inherit;
  color:#444;
  text-decoration:none;
}
  
body {
  background:#fff;
  color:#444;  
  cursor:default;
  font:12px/normal Helvetica, Arial, sans-serif;
  padding:0;  
  text-align:center;
}

h1 {
  font-size:2.8em !important;
  font-weight:bold;
}
h6 {
  font-size:.85em !important;
  font-weight:bold;
}

#aad {
  padding:0 23%;
}

.fixed {
  margin:10px 0 10px -405px;
  overflow:hidden;
  padding:0 20px 0 20px;
  position:fixed;
    left: 50%;
  text-align:left;
  width:810px;
  z-index: -10;
}

aside#connect {
  float:right;
  line-height:21px;
}

a#email {
  background-color:#fff839;
  padding:2px;
}

nav#social {
  display:inline;
  font-size:1.5em;
  font-weight:bold;
  margin-left:10px;
  text-transform:uppercase;

  a#blog {
    margin-left:10px;
    vertical-align:bottom;
  }
  
  img {
    vertical-align:middle;
  }
}

section#main {
  height:450px;
  margin:70px 0 20px;

  img {
    float:left;
    margin:0 50px;
  }
}

footer {
  aside {
    float:left;
    text-transform:uppercase; 
  }
  
  h6 {
    position:absolute;
      bottom:23px;
      left:20px;
  }
  
  section {
    float:left;
    padding:4px 10px;
    margin-left:30px;
    width:445px;

    p {
      font:oblique 1.2em/normal Garamond, Baskerville, Georgia, "Times New Roman", serif !important;
      margin:0 20px 20px;

      em {
        font-style:normal;
      }
    }
  }
}
