<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
<!-- Metadata -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache" />  <!-- Cache Control -->
        <meta http-equiv="Pragma" content="no-cache" />         <!-- Cache Control -->
        <meta http-equiv="Expires" content="0" />               <!-- Cache Control -->
<!-- Favicon -->
<!--         <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
<!-- Stylesheets -->
        <%= stylesheet_link_tag 'admin.css' %>
<!-- Javascript -->
        <%= javascript_include_tag :defaults %>
<!-- Title -->
        <title>AAD</title>
    </head>
    <body>
<!-- Content Area -->
        <div id="page-wrap">
            <div id="page-navigation-wrap">
                <div id="page-navigation">

                </div>
            </div>
            <div id="page-header">
                <%= link_to image_tag('/images/logo.jpg'), home_url %>
                <h4>admin</h4>
            </div>
            <div id="page-content">
                <h1>Login</h1>
                <p style="color:#f00;"><%= flash[:notice] %></p><br/>
	            <%= yield :layout %>
	        </div>
        </div>
	        <h1 id="url">arthuradesign.com</h1>
    </body>
</html>
